<header>
	<h1>Today's Events</h1>
	<nav>
		<ul>
			<li class="navHead">
				<a href="/">Home</a>
			</li>
			<li class="navHead">
				<a href="/events/new">Create a New Event</a>
			</li>
			<li class="navHead">
				<a href="/futureEvents">Upcoming Events </a>
			</li>
		</ul>
	</nav>
</header>

<main> 
	<ul class="navHead">
		<% foundEvents.forEach(events => { %>
			<li >
				<a href="/events/<%= events._id %>"><%= events.title %> - <%= events.location %> 
					(<%= events.date %>)</a>
			</li>
		<% }) %>
	</ul>
</main>