<div class="new">
    <header>
        <div class=header>
            <h1>Create an Event</h1>
            <nav>
                <ul>
                    <li class="navHead">
                        <a href="/">Home</a>
                    </li>
                    <li class="navHead"> 
                        <a href="/futureEvents">Upcoming Events</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <form class="formInput" action="/futureEvents" method="POST">
            Title Of Event: <input class="input" type="text" name="title" /><br/>
            Location: <input class="input" type="text" name="location" /><br/>
            Date: <input class="input" type="date" name="date"/><br/>
            Cost: <input class="input" type="text" name="cost"><br/>
            Details: <textarea class="input" name="body"></textarea><br/>
            Image Url: <input class="input" type="url" name="img"><br/>
            <input type="submit" value="Create Event">
        </form>
    </main>
</div>